@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'Anonymous Pro', monospace; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  max-height: 10000px;
}

#header {
  background-color: orange;
  height: 80px;
  margin: 0 auto;
  width: 80%;
  border-bottom: 5px solid grey;
}

#brand {
  height: 70px;
  width: 50%;
  float: left;
  padding: 23px 25px 15px 25px;
}

.logo_brand {
  font-family: "Anonymous Pro", monospace;
}

.fa-code {
  float: left;
  margin-right: 10px;
}

#navbar {
  height: 70px;
  width: 50%;
  float: left;
  padding: 23px 25px 15px 25px;
}

#carousel {
  background-color: orange;
  height: 600px;
  margin: 0 auto;
  width: 80%;
}

.welcome {
  color: white;
  font-size: 90px;
  text-align: center;
  margin-top: -350px;
}

.containerpattern {
  width: 80%;
  height: 200px;
  background-color: white;
  margin: auto;
  text-align: center;
  min-height: 100px;
  overflow: auto;
}

#container {
  background-color: white;
  height: 400px;
  margin: 0 auto;
  width: 80%;
  min-height: 400px;
  overflow: auto;
}

.hrpattern {
  height: 100px;
  width: 300px;
  transform: rotate(180deg);
}

.box {
  width: 23%;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  float: left;
  margin-top: 10px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 15px;
  border: 4px solid orange;
  min-height: 300px;
  min-width: 300px;
}

.fa-facebook-square {
  color: grey;
}

.title {
  color: grey;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  color: grey;
  text-align: justify;
}

button {
  margin-left: 27%;
  font-size: 15px;
  background-color: orange;
  border-radius: 3px;
  color: white;
  padding: 5px 30px;
  border: none;
}

/* .fa-thumb-tack {
  color: black;
  transform: rotate(35deg) scale(0.7);
} */

#footer {
  background-color: orange;
  height: 250px;
  margin: 0 auto;
  width: 80%;
  position: sticky;
  bottom: 0;
  /* padding: 40px; */
  /* text-align: center; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top: 5px solid grey;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

.footer-link {
  margin: 10px;
}

.fa-facebook-square:hover {
  color: blue;
}

ul {
  list-style-type: none;
  text-align: right;
  line-height: 40px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  display: inline;
  margin-left: 15px;
}

.footerbox {
  width: 29.4%;
  height: 200px;
  float: left;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 3%;
  background-color: transparent;
  border-right: 3px solid white;
  color: white;
  padding: 10px;
}

.ul_one {
  font-family: "Anonymous Pro", monospace;
  display: block;
  margin-top: 15px;
  margin-left: 50px;
}

.li_one {
  font-family: "Anonymous Pro", monospace;
  display: block;
  text-align: left;
}

.fa-phone,
.fa-envelope-o {
  margin-right: 15px;
}

.fa-map-marker {
  transform: scale(1.2);
  margin-right: 23px;
}

#end_footer {
  border-right: none;
}

.copy {
  color: white;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  border-top: 3px solid white;
  padding: 10px;
}
